
.image-banner{
    padding: 0.15rem 0.15rem 0.34rem;
}

.gallery-top{
    width: 100%;
    margin-bottom: 0.1rem;
}
.gallery-top .swiper-slide img{
    width: 100%;
    height:4.7rem ;
}

.gallery-thumbs .swiper-slide{
    width:1.38rem ;
    height: 0.92rem;
    margin-right: 0.1rem;
}
.gallery-thumbs .swiper-slide img{
    width: 100%;
    height: 100%;
}


.house-info{
    padding: 0.0.15rem;
    border-bottom: 0.2rem solid #f5f5f5;
}
.house-info-header{
    font-size: 0.3rem;
    line-height: 0.3rem;
    color: #333;
    margin-bottom: 0.2rem;
}
.house-info-header span{
    color: #FF0100;
}
.house-info-sub-title{
    font-size: 0.18rem;
    line-height: 0.18rem;
    color: #999;
    margin-bottom: 0.26rem;
}
.house-info-panel{
    border: 1px solid #ccc;
    margin-bottom:0.27rem ;
}

.house-info-item{
    height: 0.6rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
}
.house-info-item:last-child{
    border-bottom: none;
}
.house-item-title{
    width: 1.45rem;
    border-right: 1px solid #ccc;
    font-size: 0.24rem;
    line-height: 0.6rem;
    color: #A0A0A0;
    text-align: center;
}

.house-item-content{
    flex-grow: 1;
    font-size: 0.24rem;
    line-height: 06rem;
    color: #333;
   padding-left: 0.2rem;
}

.house-item-content span{
    font-size: 0.3rem;
    color: #FF0000;
}

.house-info-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.7rem;
}

.house-footer-left{
    width: 3.5rem;
    height: 0.63rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.36rem;
    line-height: 0.36rem;
    color: #fff;
    background: #b80d0b;
}

.house-footer-left img{
    width: 0.4rem;
    margin-right: 0.2rem;
}

.house-footer-right{
    width: 3.5rem;
    height: 0.63rem;
    background: #E8E8E8;
    font-size: 0.24rem;
    line-height: 0.63rem;
    text-align: center;
    color: #6C6C6C;
}


.house-title{
    border-bottom: 1px solid #DCDCDC;
    display: flex;
    align-items: center;

}
.house-title span{
    display: block;

    padding-bottom: 0.15rem;
    font-size: 0.24rem;
    line-height: 0.24rem;
    color: #666;
    margin-bottom: -1px;
    margin-right: 0.6rem;
}

.house-active{
    color: #333333 !important;
    border-bottom: 1px solid #cc0000;
}

.house-panel-item{
    font-size: 0.18rem;
    line-height: 0.4rem;
    color: #333;
    padding: 0.4rem 0;
}

.house-panel-item:nth-child(2){
    display: none;
}


.about{
    padding: 0 0.15rem 0.5rem;
}
.about-item{
    margin-top: 0.28rem;
    display: flex;
    align-items: center;
}

.about-item-image{
    width: 2.33rem;
    height: 1.44rem;
    flex-shrink: 0;
    margin-right: 0.2rem;
}
.about-item-panel{
    flex-grow: 1;
}

.about-item-title{
    font-size:0.22rem;
    line-height: 0.22rem;
    color: #333;
    margin-bottom:0.2rem ;
}
.about-item-title span{
    color: #FE0000;
}

.about-item-time{
    display: flex;
    align-items: center;
    font-size: 0.16rem;
    line-height: 0.16rem;
    color: #999;
    margin-bottom: 0.2rem;
}

.about-item-time img{
    width: 0.15rem;
    margin-right: 0.1rem;
}

.about-item-footer{
    font-size: 0.16rem;
    line-height: 0.24rem;
    color: #999;
}
.about-item-footer span{
    font-size:0.24rem ;
    margin-right: 0.15rem;
    color: #FF0000;
}
